.idea
.vscode
node_modules

# testing
coverage

# webpack stats
stats.json
*.stats.json

# misc
.DS_Store
npm-debug.log
.npm

# We gitignore the `/lib` but whitelist it at files property at package.json
/lib
